/*
@palette-alizarin: #e74c3c;
@palette-sun-flower: #f1c40f;
@palette-carrot: #e67e22;
@palette-amethyst: #9b59b6;
@palette-wet-asphalt: #34495e;
*/

/* flat-ui { */
.btn {
	padding-top: 11px;
	padding-bottom: 10px;
}

.button-wrapper button.btn {
	margin: 7px;
	margin-left: 0;
}

select {
	/*border: 2px solid #dce4ec;*/
	color: #34495e;
	height: 41px;
	padding: 8px 9px 10px;
	color: #34495e;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	border-radius: 6px;
}
/* flat-ui } */

/* global { */
/* sticky footer { */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

@media (min-width: 980px) {
#wrap > .container {
	padding-top: 60px;
}
}
/* sticky footer } */

#brand {
	/*color: #e74c3c; /* @palette-alizarin; */
	color: #fff;
	font-size: 32px;
	line-height: 50px;
}

.cvitae-brand {
	border-radius: 3px;
	padding: 1px 3px 2px;
	color: #fff;
	background-color: #e74c3c; /* @palette-alizarin; */
	/*background-color: #f1c40f; /* @palette-sun-flower; */
	font-weight: bold;
}

/*@media (min-width: 980px) {
body {
	padding-top: 60px;
}
}*/ /* due to sticky footer, this is not necessary anymore. */

#menu-bar-RESTORE, #footer .inner, .dialog {
	padding: 10px;
}

#menu-bar-RESTORE {
	border-radius: 0 0 6px 6px;
}

.dialog {
	border-radius: 6px;
	margin: 20px 0;
	color: #34495e; /* @palette-wet-asphalt; */
}

.dialog h3 {
	margin-bottom: 20px;
}

.dialog p {
	margin-bottom: 15px;
	line-height: 25px;
}
/* global } */

/* editor { */
#editor fieldset {
	margin-top: 30px;
}

#editor legend, #editor .list-wrapper label {
	color: #34495e; /* @palette-wet-asphalt; */
}

#editor legend {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #ecf0f1; /* @palette-clouds; */
}

#editor .list-items {
	padding: 10px;
	border-radius: 6px 6px 0 0;
}

#editor .list-items > .list-item {
	border-top: 1px dashed #95a5a6; /* @palette-concrete; */
	padding: 10px 0 10px 0;
}

#editor .list-items > .list-item:first-child {
	border-top: 0;
	padding-top: 0;
}

#editor .list-items > .list-item:last-child {
	padding-bottom: 0;
}

#editor .list-action {
	border-radius: 0 0 6px 6px;
}

#editor .list-empty {
	border-radius: 6px 6px 6px 6px;
}

#editor .close-button {
	padding: 10px 11px 6px;
}
/* editor } */

/* preview { */
#preview h2 {
	font-size: 36px;
	font-weight: normal;
	text-transform: lowercase;
	margin-bottom: 25px;
}

#preview h2 .second-part {
	font-weight: bold;
}

/* personal { */
#preview .personal-section {
	margin-top: 15px;
}

#preview .personal-section:first-child {
	margin-top: 0;
}

#preview .personal-name-section {
	font-size: 28px;
}

#preview .personal-last-name {
	font-weight: bold;
}

#preview .personal-contact-type {
	text-transform: uppercase;
	color: #95a5a6; /* @palette-concrete; */
	font-size: 12px;
	display: inline-block;
	width: 75px;
	text-align: right;
	margin-right: 5px;
}

#preview .gravatar {
	border: 1px solid #95a5a6; /* @palette-concrete; */
	border-radius: 6px;
}
/* personal } */

/* education { */
/* education } */

/* education { */
/* education } */

/* complementary { */
#preview .label.level.basic {
	background-color: #f1c40f; /* @palette-sun-flower */
}

#preview .label.level.intermediate {
	background-color: #e67e22; /* @palette-carrot */
}

#preview .label.level.advanced {
	background-color: #e74c3c; /* @palette-alizarin */
}

#preview .label.level.expert {
	background-color: #9b59b6; /* @palette-amethyst */
}
/* complementary } */

#preview .education-section, #preview .employment-section {
	margin-top: 25px;
}

#preview .education-section:first-child, #preview .employment-section:first-child {
	margin-top: 0;
}

#preview .year-interval {
	color: #95a5a6; /* @palette-concrete; */
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
}
/* preview } */

.align-right {
	text-align: right;
}

@media (min-width:768px) {
	.align-right-not-stacked {
		text-align: right;
	}
}